header nav {
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    max-width: 95%;
    margin: auto;
}

header nav a {
    font-size: 14px;
    color: #dc3727;
}

header nav a:hover{
    color: #000;
}