@media(max-width:426px){

    header {
        width: 100vw;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('./images/mobile/image-hero.jpg');
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin-top: -25px;
        padding: 25px;
        align-items:baseline;

    }

    nav ul {
        flex-direction: column;
    }

    .header-text {
        border: 2px solid #fff;
        margin-top: 50px;
        padding: 20px 20px;
        color: #fff;
        font-size: 20px;
        width: 300px;
    }

    .div-images {
        flex-wrap: wrap;
    }
}