main .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

main .title h1 {
    font-size: 75px;
    color: #dc3727;
    font-family: Arial, Helvetica, sans-serif;
}

main .title p {
    font-family: 'Playfair Display', Times, serif;
    font-size: 21px;
    color: #302f2f;
}

main .title button {
    background-color: #fff;
    border: solid 1.5px #dc3727;
    padding: 8px 25px;
    margin: 30px;
    color: #dc3727;
    font-size: 16px;
    transition: ease-in 0.2s;
}

main .title button:hover{
    color: #fff;
    background-color: #dc3727;
    border-color: #fff;
}

main .images-title{
    display: flex;
    margin: 25px;
}

main .images-title img{
    width: 350px;
    max-width: 90%;
    margin: 0px 25px;
}


/*ABOUT*/
main .about {
    display: flex;
    align-items: center;
    margin: 75px 50px;
}

main .about img{
    width: 550px;
    background-color: #dc3727;
    padding: 60px 50px;
    margin: 24px;
}

main .about div {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}

main .about div  h2{
    color: #dc3727;
    font-size: 30px;
    margin-bottom: 25px;
}

main .about div p {
    margin-bottom: 25px;
    font-size: 22px;
}

main .about div a{
    color: #dc3727;
    font-size: 20px;
}


/*OPENING TIME*/

main .opening-time{
    display: flex;
    align-items: center;
    margin: 50px;
    justify-content: center;
}

main .opening-time div {
    font-size: 38px;
    margin: 50px;
}

main .opening-time div h2 {
    font-size: 38px;
    color: #dc3727;
}

main .opening-time img {
    margin: 75px 25px;
}

/*CONTACT US*/

.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    font-size: 22px;
}

.contact-us h2 {
    color: #dc3727;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 25px;
}

.contact-us p {
    margin-bottom: 25px;
}

.contact-us div {
    display: flex;
}

.contact-us div p {
    margin: 0px 75px;
}


@media(max-width: 426px){
    main .title {
        width: 100vw;
    }

    main .images-title{
        flex-direction: column;
    }
    
    main .images-title img{
        margin-top: 25px;
        width: 300px;
        max-width: 100%;
    }

    /*ABOUT*/

    main .about{
        max-width: 95%;
        flex-direction: column;
    }

    main .about img{
        width: 350px;
        background-color: #dc3727;
        padding: 30px 10px;
        margin: 24px;
    }

    main .about div {
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-left: 75px;
    }

    /*OPENING-TIME*/
    main .opening-time{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        justify-content: center;
    }

    main .opening-time img {
        width: 350px;
        margin: 75px 25px;
        order: -1;
    }

    main .opening-time div {
        font-size: 30px;
    }

    main .opening-time div h2 {
        font-size: 30px;
    }

    /*CONTACT US*/ 

    .contact-us div {
        display: flex;
        flex-direction: column;
    }
}