main .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

main .title h1 {
    font-size: 75px;
    color: #dc3727;
    font-family: Arial, Helvetica, sans-serif;
}

main .title p {
    font-family: 'Playfair Display', Times, serif;
    font-size: 21px;
    color: #302f2f;
}

main .title button {
    background-color: #fff;
    border: solid 1.5px #dc3727;
    padding: 8px 25px;
    margin: 30px;
    color: #dc3727;
    font-size: 16px;
    transition: ease-in 0.2s;
}

main .title button:hover{
    color: #fff;
    background-color: #dc3727;
    border-color: #fff;
}

main .images-title{
    display: flex;
    margin: 25px;
}

main .images-title img{
    width: 350px;
    max-width: 90%;
    margin: 0px 25px;
}


/*ABOUT*/
main .about {
    display: flex;
    align-items: center;
    margin: 50px;
}

main .about img{
    width: 550px;
    background-color: #dc3727;
    padding: 50px;
    margin: 24px;
}

main .about div {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}

main .about div  h2{
    color: #dc3727;
    font-size: 30px;
    margin-bottom: 25px;
}

main .about div p {
    margin-bottom: 25px;
    font-size: 22px;
}

main .about div a{
    color: #dc3727;
    font-size: 20px;
}


@media(max-width: 426px){
    main .title {
        width: 100vw;
    }

    main .images-title{
        flex-direction: column;
    }
    
    main .images-title img{
        margin-top: 25px;
        width: 300px;
        max-width: 100%;
    }
}