main .page-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding-top: 66px;
}

main .page-about img {
    padding: 0px;
}

main .page-about  h2 {
    color: #dc3727;
    font-size: 34px;
}

main .page-about p {
    margin: 10px;
    font-size: 22px;
    max-width: 650px;
    text-align: center;
}

main .page-about hr {
    margin: 25px;
    border: 1px solid #dc3727;
    width: 50px;
}

